
:root {
   --blanco: #ffffff;
   --oscuro: #212121;
   --primario:#ffc107;
   --secundario:#0097A7;
   --gris:#757575;
   --grisClaro:#DDE9F3;
}  /*custom propertice */
 
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-size: 16px; /* 1 rem = 10 px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
h1{
  font-size: 3.8rem;
}
h2{
  font-size: 2.8rem;
}

h3{
  font-size: 1.8rem;
}
h1,h2,h3 {
text-align: center;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color:var(--primario);
    
  }

 .titulo span{
    font-size:2rem;
  }
  
  .contenedor{
  max-width: 120rem;
  margin: 0 auto;
  }

  .boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
  }
  @media (min-width: 480px) {
      .boton{
        width: auto;
      }
  }
.sombra{
  -webkit-box-shadow: 1px 5px 15px 0px rgba(61,60,61,0.51);
  -moz-box-shadow: 1px 5px 15px 0px rgba(61,60,61,0.51);
  box-shadow: 1px 5px 15px 0px rgba(61,60,61,0.51);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}
  .nav-bg{
    background-color: var(--secundario);


  }

  .navegacion-principal{
    display: flex;
     flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width:780px) {
    .navegacion-principal{
        flex-direction: row;
    }
  }

  .navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
      }
      .navegacion-principal a:hover{
     background-color:var(--primario);
     color: var(--oscuro);
}

.hero{
background-image:url(../img/hero.jpg) ;
background-repeat: no-repeat;
background-size: cover;
height: 450px;
height: 450px;
position: relative;
}

.contenido-hero{
position: absolute;
background-color: rgba(0,0,0, .7); /** anterior **/
background-color: rgb(0 0 0 / 70% );
width: 100%;
height: 100%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
color: var(--blanco);

}


.ubicacion{
  display: flex;
  align-items: flex-end;
}